.slick-list {  overflow: hidden;}
.slick-track{
   display: flex;
   align-content: center;
   justify-content: center;
   align-items: center;
}

// ============= slider color, material page  ===========
.slider-color__body {
   margin: 20px 110px 0;
   // padding-bottom: 15px; 
   position: relative;
   .slick-track{
      padding-top: 10px;
   }
   .slider__item{
      width: 180px;
      height: 180px;
      text-align: center;
      flex: 0 1 100%;
      border: 1px solid rgba(106, 106, 106, 0.69);
      transition: all 0.4s ease 0s;
      margin: 20px 50px 20px;
      img{
         width: 100%;
         height: 100%;
      }
   }
   /* Центральний слайд */
   .slick-center{
      border: 3px solid #D2D2D2;
      box-shadow: 7px 5px 10px rgba(255, 255, 255, 0.25);
      margin: 10px 50px 30px;
      transform: scale(1.2);
   }
   
   /* Стрелка */
   .slick-arrow{
      position: absolute;
      top: 50%;
      z-index: 10;
      font-size: 0;
      width: 30px; height: 30px;
      margin: -25px -30px 0px;
      &.slick-prev{
         left: 0;
         background: url(../img/icons/left-arrow-white.png) 0 0 / 100% no-repeat;
      }
      &.slick-next{
         right: 0;
         background: url(../img/icons/right-arrow-white.png)0 0 / 100% no-repeat;
      }
   }
   
   /* Точки (булиты) */
   .slick-dots{ 
      display: flex;
      align-items: center;
      justify-content: center;
      li{
         list-style: none;
         margin: 0px 10px;
         /* Элемент точки */
         button{
            font-size: 0;
            width: 10px; height: 10px;
            background-color: #616263;
            border-radius: 50%;
         }
         /* Активная точка */
         &.slick-active{
         button{
            background-color: #ffffff;
         }
         }
      }
   }
}

// =============== slider main page ====================

.slider {
   background-color: #f7f7f7;
   padding: 100px 0px 60px 0px;
   &__body {
      position: relative;
      .slick-dots{
         padding: 10px 0px 0px 0px;
         display: flex;
         justify-content: center;
         align-items: center;
         opacity: 0.7;
         li{ margin: 0px 5px 0px 5px;
            button{
               font-size: 0;
               width: 11px;
               height: 11px;
               border-radius: 50%;
               border: 1px solid #000000;
               background-color: transparent;   
               
            }
            &.slick-active{
               button{
                  background-color: #000000;

               }
            }
         }
      }
   }
   &__item {
      text-align: center;
      margin: 0px 20px 10px;
   }
      &__icon {
         margin: 0px 0px 20px 0px;
         img{
         width: 100px;
         }
      }
      &__title {
         margin: 0px 0px 20px 0px;
         font-size: 25px;
         font-weight: 700;
         color: #000000;
         font-style: italic;
         line-height: 32px;
      }
      &__text {
         font-size: 18px;
         line-height: 25px;
         color: #848789;
         }
   .slick-arrow{
      position: absolute;
      top: 50%;
      z-index: 10;
      font-size: 0;
      width: 30px; height: 30px;
      margin: -25px -50px 0px;
      opacity: 0.7;
      @media (max-width: 1250px) {
         margin: -25px -10px 0px;
      } 
      &.slick-prev{
         left: 0;
         background: url(../img/icons/right-arrow-2.png) 0 0 / 100% no-repeat;
         transform: rotate(180deg);
      }
      &.slick-next{
         right: 0;
         background: url(../img/icons/right-arrow-2.png)0 0 / 100% no-repeat;
      }
   }
}

// ============= slider galery  ===========
.slider-galery {
   margin: 20px 40px 0;
   position: relative;
   @media (max-width: 850px) {
      max-width: 500px;
      margin: 0 auto;
   } 
   .slick-track{
      padding: 10px 0px;
   }
   .slider__item{
      text-align: center;
      opacity: 0.7;
   } 
   
   .slick-active{
      opacity: 1; 
      box-shadow: 5px 5px 10px rgba(34, 34, 34, 0.25);
      transition: all 0.5s linear 0s;
   }  
   .slick-arrow{
      position: absolute;
      top: 50%;
      z-index: 10;
      font-size: 0;
      width: 30px; height: 30px;
      margin: -25px -50px 0px;
      opacity: 0.7;
      &.slick-prev{
         left: 0;
         background: url(../img/icons/up-arrow-angle.png) 0 0 / 100% no-repeat;
         transform: rotate(-90deg);
      }
      &.slick-next{
         right: 0;
         background: url(../img/icons/up-arrow-angle.png)0 0 / 100% no-repeat;
         transform: rotate(90deg);
      }
   }
   .slick-dots{ 
      display: flex;
      align-items: center;
      justify-content: center;
      li{
         list-style: none;
         margin: 0px 10px 10px;
         /* Элемент точки */
         button{
            font-size: 0;
            width: 10px; height: 10px;
            border: 2px solid  rgba(14, 14, 14, 0.6);
            background: #fff;
            border-radius: 50%;
         }
         /* Активная точка */
         &.slick-active{
         button{
            background-color: #ffffff;
            transform: scale(1.5);
            background-color:  rgba(14, 14, 14, 0.8);
         }
         }
      }
   }
}

